name: update news

on:
  schedule:
    - cron: '55 * * * *'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile

      - name: Switch branch
        id: branch
        run: |
          export BRANCH_NAME=patch-news-sendai
          if [ $(git ls-remote origin patch-news-sendai | wc -l) = "1" ]; then
            git fetch --all
            git switch $BRANCH_NAME
            echo "::set-output name=created::false";
          else
            git switch -c $BRANCH_NAME
            echo "::set-output name=created::true";
          fi
          echo "::set-output name=name::$BRANCH_NAME";

      - name: Update news
        run: yarn run update:news

      - name: Check diff
        id: git-diff
        run: |
          git branch --show-current
          if [ "$(git diff --name-only data/news.json)" != "" ]; then
            echo "::set-output name=hasdiff::true";
          else
            echo "::set-output name=hasdiff::false";
          fi

      - name: Push commit
        if: steps.git-diff.outputs.hasdiff == 'true'
        env:
          BRANCH_NAME: ${{ steps.branch.outputs.name }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          git add data/news.json
          git commit -m "Update news"
          git push origin $BRANCH_NAME

      - name: Create pull request
        if: steps.git-diff.outputs.hasdiff == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINE_TOKEN: ${{ secrets.LINE_SENDAI_TOKEN}}
          URL: https://notify-api.line.me/api/notify
        run: |
          sudo timedatectl set-timezone Asia/Tokyo
          sudo snap install hub --classic
          git remote set-url origin "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY"
          hub pull-request \
            -b development-sendai \
            --no-edit \
            -m "ニュース自動更新（$(date +'%Y/%m/%d %H:%M')）" \
            -m ":newspaper: ニュースの自動更新です" \
            -l "auto_merge"
          curl -X POST \
             -H "Authorization: Bearer ${LINE_TOKEN}" \
             -F "message=news.jsonを更新しました。"  \
             ${URL}
